parameters:
  level: max
  paths:
    - src
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions:
      - LogicException
    methodThrowTypeDeclarations:
      Http\Factory\Discovery\HttpFactory:
        requestFactory:
          - RuntimeException
      Http\Factory\Discovery\HttpClient:
        client:
          - RuntimeException
    functionThrowTypeDeclarations:
      pspell_new:
        - ErrorException
      pspell_check:
        - ErrorException
      password_hash:
        - ErrorException

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/pepakriz/phpstan-exception-rules/extension.neon
