parameters:
  level: max
  paths:
    - tests
  autoload_files:
    - tests/WordList/PspellMonkeyPatch.php

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
